.header {
  background-color: white;
  padding: 20px 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white; 
  width: 100%;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Logo */
.logo img {
  width: 120px;   
  height: auto;
}

/* Navegación */
.nav {
  display: flex;
  gap: 50px;
  position: absolute;
  left:48%;
  transform: translateX(-50%);
}

.nav a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: #f97316; 
}


.btn-unete {
  background-color: #f97316;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.btn-unete:hover {
  background-color: #ea580c; 
}
