.promo-seccion {
  background-color: #FFEDDB;
  overflow: hidden;
}

.promo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.promo-col-imagen,
.promo-col-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-col-imagen img {
  max-width: 100%;
  height: auto;
}

.promo-logo-grande {
  font-size: 8rem;
  font-weight: 800;
  color: #F97316;
}

@media (max-width: 768px) {
  .promo-container {
    flex-direction: column;
  }
  .promo-logo-grande {
    font-size: 5rem;
    margin-top: 2rem;
  }
}